$header-img: url('../img/m-h-night.jpg');
$secondary-font: 'Source Sans Pro', sans-serif;
$main-font: 'Fresca', sans-serif;
$main-text-color: #ffffff;
$secondary-text-color: #ffffff;
$main-content-bg: #21232d;
$main-color: #dcad3b;
$secondary-color: #883352;
$section-content-bg: #3b3f4f;
$section-text-color: #c0c3cd;
$custom-line-height: 1.5;
$rectangle-color: #ee5c41;
$height-logo: 1.2;
$width-logo: 95px;
