$header-img: url('../img/m-h-day.jpg');
$secondary-font: 'Source Sans Pro', sans-serif;
$main-font: 'Hind', sans-serif;
$main-text-color: #2a2d38;
$secondary-text-color: #ffffff;
$main-content-bg: #ffffff;
$main-color: #72962d;
$secondary-color: #3860c0;
$section-content-bg: #21232d;
$section-text-color: #c0c3cd;
$custom-line-height: normal;
$rectangle-color: #459ec3;
$height-logo: 1.3;
$width-logo: 100px;
